$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$large-desktop: 1200px;

$mob-max: "max-width: $tablet - 1";
$mob-min: "min-width: $mobile";
$tab-max: "max-width: $desktop - 1";
$tab-min: "min-width: $tablet";
$desk-min: "min-width: $desktop";
